/* Resets */
body {
    margin: 0;
}
* {
    font-family: "Gothic A1";
}
/* General */
.button-container {
    display: flex;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button-container [class^="btn"]:first-child {
    margin-right: 40px;
}

.btn-secondary {
    background: #c42f80;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
}

/* Header and nav */
header {
    background: #2d93ce;
    height: 70px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
}
.header-container {
    max-width: 808px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.logo {
}
.main-nav {
}
.main-nav ul {
    list-style-type: none;
}
.main-nav ul li.nav-link {
    display: inline-block;
    margin-left: 40px;
}
.main-nav ul li.nav-link:first-child {
    margin-left: 0;
}
.main-nav ul li.nav-link a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

/* Content */
/* Section 1 */
section.section-one {
    margin-top: 70px;
    padding: 55px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section.section-one h1,
section.section-one p {
    margin: 0 0 11px;
}
section.section-one h1 {
    color: #bad9eb;
    font-size: 47px;
}
/* Content */
/* Section 2 */
section.section-two {
    padding: 41px 0;
    margin: 0 auto;
    background: #f6f6f6;
}
section .section-two-container {
    max-width: 808px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #717171;
    margin: auto;
}
section.section-two .construction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.section-two .construction svg {
    width: 210px;
    height: 140px;
}

section.section-two .construction svg .cloud {
    animation-name: softBounceCloud;
    animation-duration: 10000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 210px;
    height: 140px;
}
@keyframes softBounceCloud {
    0% {
        transform: scale(0.5) translateY(-100px) translateX(1000px);
    }
    100% {
        transform: scale(0.5) translateY(-100px) translateX(0px);
    }
}
section.section-two .construction svg .tree1 {
    animation-name: softBounceTree1;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 210px;
    height: 140px;
    transform-origin: bottom center;
}
@keyframes softBounceTree1 {
    0% {
        transform: rotate(-9deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
section.section-two .construction svg .tree2 {
    animation-name: softBounceTree2;
    animation-duration: 7000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 210px;
    height: 140px;
    transform-origin: bottom center;
}
@keyframes softBounceTree2 {
    0% {
        transform: translateY(-100px) rotate(0deg);
    }
    100% {
        transform: translateY(-100px) rotate(-15deg);
    }
}
section.section-two .construction svg .tree3 {
    animation-name: softBounceTree3;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 210px;
    height: 140px;
    transform-origin: bottom center;
}
@keyframes softBounceTree3 {
    0% {
        transform: translateY(-100px) rotate(0deg);
    }
    100% {
        transform: translateY(-100px) rotate(-30deg);
    }
}
section.section-two .construction h3 {
    font-size: 23px;
}
section.section-two .description {
    font-size: 15px;
}
section.section-two .description p {
}

/* Content */
/* Section 3 */

.section-three {
    padding: 50px 0 10px;
}
.section-three-overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 99;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 71%,
        rgba(255, 255, 255, 0) 100%
    );
}
.section-three-overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 99;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 21%,
        rgba(255, 255, 255, 1) 100%
    );
}
.section-three-container {
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
}
.section-three .owl-carousel img {
    height: 270px;
    width: 209px;
}

/* Content */
/* Section 4 */

.section-four {
    text-align: center;
    margin-bottom: 50px;
}
.section-four .contact {
}
.section-four .contact p {
    font-size: 13px;
    color: #717171;
    margin: 0 0 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    section .section-two-container {
        margin: 0 4%;
    }
    .main-nav ul li.nav-link:first-child {
        width: 100px;
        text-align: center;
    }
    .main-nav ul li.nav-link a {
        font-size: 13px;
    }
    .header-container {
        padding: 0 2%;
    }
    .main-nav ul {
        display: flex;
        align-items: center;
        padding-left: 11px;
    }
    .main-nav ul li.nav-link {
        display: inline-block;
        margin-left: 17px;
    }
    section.section-one h1 {
        color: #bad9eb;
        font-size: 27px;
    }
    section.section-two .construction h3 {
        font-size: 20px;
    }
    .button-container {
        flex-direction: column;
        align-items: center;
    }
    .button-container [class^="btn"]:first-child {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .btn-secondary {
        font-size: 14px;
        padding: 11px 18px;
        width: 150px;
        text-align: center;
    }
}
